<% provide(:title, @user.name) %>
    <div class="row">
      <aside class="span4">
        <section>
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </section>
      </aside>
    </div>
    <div class="row-fluid">
    <div class="span4">
      <div class="well">
      <ul class="nav nav-list">
          <li class="nav-header"><%=@user.name%></li>
          <li class="active"><a href="#">Photos</a></li>
          <li><a href="#">Comments</a></li>
          <li><a href="#">Feed</a></li>
          ...
      </ul>
    </div>
    </div>
    
